/* .logo {
    /* background-image: url(./logo.jpg); 
     height: auto; 
    background-color: #cccccc;
    /* height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #cccccc;

  } */

 .login
{ 
 width: 70%;
 margin:auto; 
 text-align: center;
}  