.item {
    border: 1px solid #808080;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 10px;
}

    .item:hover {
        border: 2px solid #ff3300;
    }
.details{
    display:none;
}