.Header {
    width: 95%;
    position: relative;
    left: -30px;
    a{
        color: rgb(7, 174, 200) !important;
        text-decoration: none;
    }
}

.nev {
    position: fixed;
    top: 20px;
    width: 100%;
  }
.col{
    width: 40%;
    //top:30%;
}
.hello{
    //top:300px;
    position: relative;

}