<main>
<header   >
  

        <ul class="nav nav-tabs"  >
            <li routerLink="/Classes" routerLinkActive="active" class="nav-item">
                <a class="nav-link" >בית </a></li>
            <li routerLink="/Classes/managementStudent"  routerLinkActive="active" class="nav-item ">
                <a class="nav-link">פרטי התלמידים </a></li>
            <li routerLink="/Classes/signUp" routerLinkActive="active" class="nav-item">
                <a class="nav-link" >רישום</a></li>

        </ul>

   
</header>


<!-- 
<img src="./img/רקע.jpg" alt="image" class="img-fluid" style="width: 50px;"> -->
 <router-outlet></router-outlet>
 </main>